/* HEADER component */
.board-page header {
  background-color: rgba(var(--color-surface), 0.8) !important;
  border-color: rgba(var(--color-border), 0.5) !important;
}


/* SIDEBAR component */
.board-page .sidebar {
  background-color: rgba(var(--color-surface), 0.8) !important;
  border-color: rgba(var(--color-border), 0.5) !important;
}

.board-page .sidebar .sidebar-title {
  background-color: rgba(var(--color-surface), 0.8) !important;
  border-color: rgba(var(--color-border), 0.5) !important;
}

.board-page .sidebar ul {
  background: transparent !important;
}

/* topbar */
.board-page .board-page-topbar {
  background-color: rgba(var(--color-surface), 0.8) !important;
  border-color: rgba(var(--color-border), 0.5) !important;
}

button {
  background-color: rgba(var(--color-surface), 0.8) !important;
  border-color: rgba(var(--color-border), 0.5) !important;
}

.add-list-wrapper {
  background-color: rgb(var(--color-surface)) !important;
  padding: 10px;
  border-radius: 7px;
}
