.base-layout {
  min-height: "100vh";
  overflow: "hidden";
  z-index: 1000;
}

/* HEADER component */
header {
  position:fixed;
  width: 100%;
  height: 50px !important;
  border-width: 0px 0 1px 0px;
  border-style:solid;
  border-color: rgb(var(--color-muted));
  background-color: rgb(var(--color-background)) !important;
  color: rgb(var(--color-text)) !important;
}


/* SIDEBAR component */
aside {
  background-color: rgb(var(--color-background));
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: rgb(var(--color-muted));
}

aside .sidebar-title {
  background-color: rgb(var(--color-background)) !important;
  color: rgb(var(--color-primary)) !important;
}

.ant-menu-item:hover, .ant-menu-item-selected {
  background-color: rgba(var(--color-primary), 0.1) !important;
  filter: brightness(5);
}